@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
    /*font-weight: 100;*/
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Light.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}
.top-banner {
    height: 44px;
    font-size: 14px;
    color: #333;
}
.top-banner a {
    color: #333;
}
.top-banner small {
    height: 10px;
}
.navbar-main {
    height: 88px;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #4C4C4C;
}
.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #4C4C4C;
    margin-bottom: 20px;
}
.btn-main {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    background-color: #00A2F3;
}
.btn-secondary {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #4C4C4C;
    border: solid 2px #4C4C4C;
    padding-left: 28px;
    padding-right: 28px;
    background-color: #fff;
}
.footer-main {
    font-size: 14px;
    padding-top:68px;
    padding-bottom:16px;
    font-weight: 400;
    color: #aaa;
    background-color: #303030;
}
.footer-main strong {
    margin-bottom: 12px;
    font-weight: 800;
}
.footer-main ul {
    list-style-type: none;
    margin: 0 0 16px 0;
    padding: 0;
}
.footer-social {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    min-height: 80px;
    font-weight: 600;
    color: #4C4C4C;
    background-color: #F7F7F7;
}
.footer-contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    min-height: 176px;
    font-weight: 400;
    color: #fff;
    background-color: #00A2F3;
}
.footer-contact b {
    font-weight: 800;
}
.headline {
    font-family: 'Montserrat', sans-serif;
    color: #4C4C4C;
}
.headline .text1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
}
.headline .text2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}
.headline .text3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}
.headline .text4 {
    font-family: 'Roboto', sans-serif;
}
.headline .benefit {
    font-size: 16px;
    font-weight: 400;
}
.tech-img {
    display: flex;
    height: 195px;
    justify-content: center;
}

.fitur {
    font-family: 'Montserrat', sans-serif;
    color: #4C4C4C;
}
.fitur strong {
    font-size: 18px;
    font-weight: 800;
}
.fitur p {
    font-size: 12px;
    font-weight: 400;
}
.paket {
    color: #4C4C4C;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.paket .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.paket .price1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
}
.paket .price1 .big {
    font-size: 50px;
    line-height: 42px;
}
.paket .price1 .bold {
    font-weight: 800;
}
.paket .price2 {
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
}
.paket button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #4C4C4C;
    border: solid 2px #4C4C4C;
    padding-left: 28px;
    padding-right: 28px;
    background-color: #fff;
}
.paket button.best {
    color: #fff;
    border: solid 2px #fff;
    background-color: #00A2F3;
}
.newsletter-form button {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    font-size: 12px;
    background-color: #00A2F3;
}

/* common */
.ribbon {
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #007732;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #00B359;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}

/* top left*/
.ribbon-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 0;
}
.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}
.ribbon-top-left span {
    right: -30px;
    top: 18px;
    transform: rotate(-45deg);
}
.table {
    font-family: 'Roboto', sans-serif;
}
.table td, .table th {
    border: none;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: white;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #eeeeee;
}
.text5 {
    font-family: 'Roboto', sans-serif;
}
